header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  #logo-container {
    display: flex;
    align-items: center;
    width: 240px;
    cursor: pointer;
    gap: 10px;
  }
  
  #logo {
    width: 50px;
    height: 50px;
  }
  
  #title {
    color: white;
    font-family: "Segoe UI";
    font-size: 16px;
    margin: 0;
  }
  
  #input-container {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  input {
    width: 400px;
    padding: 8px;
    border-radius: 8px;
  }
  
  #buttons-container {
    display: flex;
    width: 200px;
    gap: 30px;
    padding: 20px;
    justify-content: center;
  }
  
  #ingresar {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  #registrarse {
    color: var(--accent-color);
    text-decoration: none;
  }
  